@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url("./fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 700;
  src: url("./fonts/Futura-Bold.ttf");
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("./fonts/Futura-Normal.ttf");
}

:root {
  --digits-block-height: 30px;
  --digits-block-width: 20px;
  --timer-digits-block-height: 35px;
  --timer-digits-block-width: 30px;
  --text-height: 40px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100% !important;
}

.top-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #343434;
}

.slide {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Gilroy", "Assistant", sans-serif;
  padding: 0px 16px;
  margin-bottom: 6px;
  /* opacity: 0; */
}

.slick-list {
  display: grid;
  height: fit-content;
  align-items: center;
}

/* counter start */
.digits {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-right: 8px;
}

.digits-block {
  display: block !important;
  max-height: var(--digits-block-height);
  max-width: var(--digits-block-width);
  height: var(--digits-block-height);
  width: var(--digits-block-width);
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 2.5px;
  border-radius: 4px;
  overflow: hidden;
}

.digits-block .slick-list {
  background-color: #000000;
}

.digits-block:last-child {
  margin-right: 0 !important;
}

.digits-block:first-child {
  margin-left: 0 !important;
}

.digits-block span {
  height: var(--digits-block-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
/* counter end */

/* texts / icons start */
.texts,
.icons {
  height: var(--text-height);
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
}

.icons {
  width: var(--text-height);
  min-width: max-content;
  margin-right: 6px;
}

.texts .slick-list,
.icons .slick-list {
  transition: transform 900ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.text,
.icon {
  height: var(--text-height);
  display: flex;
  align-items: flex-end;
  line-height: 1.2;
}

.text {
  font-size: 14px;
}

.icon {
  width: var(--text-height);
  justify-content: flex-end;
  font-size: 20px;
}

.icon img {
  margin: 0 auto;
}
/* texts / icons end */

/* announcement start */
.announcement {
  width: 100%;
  font-family: "Futura", "Assistant", sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  padding: 0px 16px;
}
/* announcement end */

/* timer start */
.timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Gilroy", "Assistant", sans-serif;
  font-weight: 700;
  padding: 6px 16px;
}

.timer .icons,
.timer .texts,
.timer .icon,
.timer .text {
  height: auto;
}

.timer .digits-block {
  max-height: var(--timer-digits-block-height);
  max-width: var(--timer-digits-block-width);
  height: var(--timer-digits-block-height);
  width: var(--timer-digits-block-width);
}

.timer .digits-block span {
  height: var(--timer-digits-block-height);
  letter-spacing: 0.05em;
}

.timer .digits > span {
  margin: 0 1.5px;
}
/* timer end */

@media screen and (max-width: 480px) {
  .icon {
    font-size: 18px;
  }

  .text {
    font-size: 11px;
  }

  .icons {
    margin-right: 4px;
  }

  .digits {
    margin-right: 4px;
  }

  .digits-block {
    margin: 0 1.5px;
  }

  .timer .icons,
  .timer .digits {
    margin-right: 6px;
  }
}
