@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url("./fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: Futura;
  font-weight: 700;
  src: url("./fonts/Futura-Bold.ttf");
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("./fonts/Futura-Normal.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100% !important;
}

.top-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gilroy", monospace;
  color: #343434;
}

.slide {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 16px;
  margin-bottom: 6px;
}

.slick-list {
  display: grid;
  height: fit-content;
  align-items: center;
}

/* counter start */
.digits {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-right: 8px;
}

.digits-block {
  display: block !important;
  height: 34px;
  width: 24px;
  max-width: 20px;
  max-height: 30px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0 2.5px;
  border-radius: 0.35rem;
  overflow: hidden;
}

.digits-block .slick-list {
  background-color: #000000;
}

.digits-block:last-child {
  margin-right: 0 !important;
}

.digits-block:first-child {
  margin-left: 0 !important;
}

.digits-block span {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
/* counter end */

/* texts / icons start */
.texts,
.icons {
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
}

.icons {
  min-width: max-content;
  margin-right: 6px;
}

.texts .slick-list,
.icons .slick-list {
  transition: transform 900ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.text,
.icon {
  height: 40px;
  display: flex;
  align-items: flex-end;
  background: #ffffff;
  line-height: 1;
}

.text {
  font-size: 14px;
}

.icon {
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
}

.icon img {
  margin: 0 auto;
}
/* texts / icons end */

/* announcement start */
.announcement {
  width: 100%;
  font-family: "Futura";
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  padding: 0px 16px;
}
/* announcement end */

@media screen and (max-width: 480px) {
  .icon {
    font-size: 18px;
  }

  .text {
    font-size: 11px;
  }

  .icons {
    margin-right: 3px;
  }

  .digits {
    margin-right: 5px;
  }

  .digits-block {
    margin: 0 1.5px;
  }
}

@media screen and (max-width: 375px) {
  /* .icon {
    padding-left: 8px;
  } */

  .digits .digits-block {
    max-width: 20px;
    max-height: 32px;
  }
}
