/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"); */

@font-face {
  font-family: Gilroy;
  src: url("./fonts/Gilroy-ExtraBold.otf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Gilroy", monospace;
}

.container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: flex-end;
  justify-content: center;
  background: #ffffff;
  padding: 0px 4px;
  z-index: 999;
}

.digits {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.digits-block {
  height: 34px;
  width: 24px;
  max-width: 20px !important;
  max-height: 30px !important;
  display: grid;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 2.5px;
  margin: 0 2.5px;
  border-radius: 0.35rem;
  overflow: hidden;
}

.digits-block span {
  grid-area: 1 / 1 / span 1 / span 1;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.digits-block > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}

.digits-block:last-child {
  margin-right: 0 !important;
}

.digits-block:first-child {
  margin-left: 0 !important;
}

.icons {
  margin-right: 6px;
}

.texts > .text,
.icons > .icon {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: flex-end;
  background: #ffffff;
}

.icons > .icon {
  width: 100%;
}

.texts > .text:nth-child(1),
.icons > .icon:nth-child(1) {
  z-index: 5;
}

.texts,
.icons {
  height: 40px !important;
  display: grid;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 700;
}

.texts > div,
.icons > div {
  height: 100%;
  width: fit-content;
}

.icons img {
  margin: 0 auto !important;
}

@media screen and (max-width: 480px) {
  .texts {
    font-size: 12px;
  }

  .icons {
    margin-right: 2.5px;
  }

  body .digits {
    margin-right: 2.5px;
  }

  body .digits-block {
    margin: 0 1.5px;
  }
}

@media screen and (max-width: 375px) {
  .digits-block {
    max-width: 20px !important;
    max-height: 32px !important;
  }
}
